<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><h5>GARN Enterprices</h5></a>
            <a class="navbar-brand hidden" href="./"><img src="../images/logo2.png" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="skhomepage.php"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
                <h3 class="menu-title">SK Tools</h3><!-- /.menu-title -->
  
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Category</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href="catergoryView.php">View Category</a></li>
                        <!-- <li><i class="fa fa-puzzle-piece"></i><a href="catergoryAdd.php">Add Category</a></li> -->
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Products</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href="productView.php">View Products</a></li>
                        <!-- <li><i class="fa fa-puzzle-piece"></i><a href="productAdd.php">Add Products</a></li> -->
                        <!-- <li><i class="fa fa-bars"></i><a href="productQualityAttribute.php">View Quality Attributes</a></li> -->
                        <li><i class="fa fa-bars"></i><a href="productRawMaterials.php">Add Raw Materials</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Stocks</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href="stocksFinishedView.php">Current Finished Stocks</a></li>
                        <li><i class="fa fa-bars"></i><a href="stocksFinishedIn.php">Finished Stocks IN</a></li>
                        <li><i class="fa fa-bars"></i><a href="stocksFinishedOut.php">Finished Stocks OUT</a></li>
                        <li><i class="fa fa-bars"></i><a href="stocksRawView.php">Current Raw Stocks</a></li>
                        <li><i class="fa fa-bars"></i><a href="stocksRawIn.php">Raw Stocks IN</a></li>
                        <li><i class="fa fa-bars"></i><a href="stocksRawOut.php">Raw Stocks OUT</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Purchases</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href="purchaseCreateOrder.php">Create Order</a></li>
                        <li><i class="fa fa-bars"></i><a href="purchaseView.php">View Purchases</a></li>
                        <li><i class="fa fa-bars"></i><a href="purchaseCreateGRN.php">Create GRNs</a></li>
                        <li><i class="fa fa-bars"></i><a href="purchaseGRN.php">View GRNs</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Sales</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bars"></i><a href="salesView.php">View Sales</a></li>
                        <li><i class="fa fa-bars"></i><a href="salesDispatch.php">View Dispatches</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Reports</a>
                    <ul class="sub-menu children dropdown-menu">
                        <!-- <li><i class="fa fa-bars"></i><a href="salesView.php">View Sales</a></li>
                        <li><i class="fa fa-bars"></i><a href="salesDispatch.php">View Dispatches</a></li> -->
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->


<script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>


<script src="assets/js/lib/chart-js/Chart.bundle.js"></script>
<script src="assets/js/dashboard.js"></script>
<script src="assets/js/widgets.js"></script>
<script src="assets/js/lib/vector-map/jquery.vmap.js"></script>
<script src="assets/js/lib/vector-map/jquery.vmap.min.js"></script>
<script src="assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
<script src="assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
<script>
    ( function ( $ ) {
        "use strict";

        jQuery( '#vmap' ).vectorMap( {
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: [ '#1de9b6', '#03a9f5' ],
            normalizeFunction: 'polynomial'
        } );
    } )( jQuery );
</script>
